.App {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "s c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
}
.header {
  background-color: green;
  grid-area: h;
}

.header img {
  width: 50px;
}
.profile {
  grid-area: c;
  background-color: blue;
}

.Navbar {
  background-color: rgb(67, 138, 167);
  
  grid-area: s;
}
.Navbar a{
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
}
.addPostBouton{
  cursor:pointer;
}